<div class='row custom-spaced'>
  <div class='col-2'></div>
  <div class='col-8'>
    <div id='home-box'>
      <h1>Products</h1>
      <br />
      <table class="table">
        <tbody>
          <tr class ='row' *ngFor = "let product of products; let i = index">
            <th class = "col" scope="row">{{product.name}}</th>
            <th class = "col" scope="row">${{product.price.toFixed(2)}}</th>
            <th class ='col'><img src={{product.Image}} width="80" height="80" padding="250px"></th>
            <th><button type="button" class="btn btn-warning" (click)='postCart(product.name)'>Add to Cart</button></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='col-2'></div>
</div>
