<div class = 'row custom-spaced'>
  <div class = 'col'></div>
  <div class = 'col'>
    <div id = 'profile-table'>
      <h1>Profile Management</h1>
      <br/>
      <form>
        <div class="form-group">
          <label for="firstName">Name *</label>
          <input type="text" class="form-control" id="name" name='name' [(ngModel)]='name'>
        </div>
        <div class="form-group">
          <label for="email">Email Address *</label>
          <input type="text" class="form-control" id="email" name='email' [(ngModel)]='email'>
        </div>
        <div class="form-group">
          <label for="address">Address *</label>
          <input type="text" class="form-control" id="address" name='address' [(ngModel)]='address'>
        </div>
        <div class='row'>
          <div class="form-group col">
            <label for="card">Card Number *</label>
            <input type="text" class="form-control" id="card" name='card' [(ngModel)]='card'>
          </div>
          <div class="form-group col">
            <label for="cvv">CVV *</label>
            <input type="text" class="form-control" id="cvv" name='cvv' [(ngModel)]='cvv'>
          </div>
        </div>
        <small id="requiredField" class="form-text text-muted">Fields with * are required.</small>
        <br/>
        <button type="submit" [disabled]='!name || !email || !address || !card || !cvv' class="btn btn-primary" (click)='postProfile()'>Save Changes</button>
      </form>
     </div>
   </div>
  <div class = 'col'></div>
</div>
