.checkout_title
{
  background-color: #283747;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
.checkout_blank_row
{
  height: 100px !important; /* overwrites any other rules */
  background-color: #FFFFFF;
}

.checkout_total_row
{
  height: 70px !important;
  font-size: 30px;
  background-color: #E5E7E9;
}

.checkout_info_rows
{
  font-size: 25px;
  font: Charcoal;
  background-color: #ABB2B9;
}

.checkout_page
{
  border-style: solid;
  border-width: thick;
  border-color: #1B2631;
}

.ver-btn
{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
}

.deliver
{
  font-size: 30px; 
  position: relative;
  left: 100px;
}
