<script src="https://d79i1fxsrar4t.cloudfront.net/sdk/1.4.4/smartystreets-sdk-1.4.4.js"></script>
<div *ngIf="show_Checkout" class='row custom-spaced border border-light'>
  <div class='col-2'></div>
  <div class='col-8' checkout_page>
    <div id='home-box '>
      <p class="checkout_title">The Checkout</p>
      <div class="checkout_info_rows">
        <div class='row'>
          <div class="form-group col">
            <label> Enter your CVV: </label>
            <input type="text" class="form-control" id="enteredcvv" name = "enteredcvv" [(ngModel)]="enteredcvv">
          </div>
          <div class="form-group col">
            <label for="address1">Card Number *</label>
            <input type="text" class="form-control" id="card" name='card' [(ngModel)]='card'>
          </div>
          <div class="form-group col">
            <label for="firstName">Name *</label>
            <input type="text" class="form-control" id="name" name='name' [(ngModel)]='name'>
          </div>
          <div class="form-group col">
            <label for="address1">Email Address *</label>
            <input type="text" class="form-control" id="email" name='email' [(ngModel)]='email'>
          </div>
          <div class="form-group col">
            <label for="address1">Address *</label>
            <input type="text" class="form-control" id="address" name='address' [(ngModel)]='address'>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <button (click)="cvv_buttonClick()" type=button class="btn btn-dark ver-btn col-2" *ngIf="isLoggedIn">{{cvv_button_text}}</button>
          </div>
        </div>
      </div>
      <br/>
      <table class="table ">
        <tbody>
          <tr class ='row' *ngFor = "let product of products; let i = index">
            <th class = "col" scope="row">{{product.name}}</th>
            <th class = "col" scope="row">${{product.price.toFixed(2)}}</th>
            <th class = "col" scope="row"><img src={{product.Image}} width="80" height="80" padding="250px"></th>
          </tr>
          <tr class="checkout_blank_row">
            <td colspan="3"></td>
          </tr>
          <tr class ='row checkout_total_row'>
            <th class = "col" scope="row">Total price is: </th>
            <th class = "col" scope="row"></th>
            <th class = "col" scope="row">${{sum.toFixed(2)}}</th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button (click)="placeOrder()" type="button" class="btn btn-primary col-2" *ngIf="cvv_auth || isGuest" >{{orderConf}}</button>
        <p class="col" *ngIf="bad_Address">Order could not be placed </p>
      </div>
    </div>
  </div>
  <div class='col-2'></div>
</div>
<div *ngIf="!show_Checkout" class='deliver'>
  <p style="text-align: center; font-size: 45px;font-weight: bold;">Your order has been placed<p><br>
  <div class="deliver">
    <p>Delivering to: {{address}}</p><br>
    <p>Card that was charged: {{card}}</p><br>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go back to products</a>
  </div>
</div>
