<!-- Navbar -->
<div id="navdiv" *ngIf='isLoggedIn || isGuest'>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #141414;">
    <a class="navbar-brand" href="/">Ecom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <form class="form-inline my-2 my-lg-0 search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class='navbar-nav ml-auto'>
        <div class="nav-item dropdown" *ngIf='isLoggedIn' ngbDropdown>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            {{username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <a class="dropdown-item" href="profile">Profile</a>
            <a class="dropdown-item" href='#' (click)='logout()'>Logout</a>
          </div>
        </div>
        <a class="nav-item nav-link" href='checkout' *ngIf='isLoggedIn || isGuest'>Cart</a>
        <a class="nav-item nav-link">{{amount}}</a>
        <a class="nav-item nav-link" (click)='logout()' *ngIf='isGuest'>Login</a>
      </div>
    </div>
  </nav>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
